.navbar{
    display: flex;
    width: 100vw;
    flex-direction: row;
    gap:30vw;
    background: #77572B;
}

.navbar__logo{
    display: flex;
    flex-direction: row;
}

.logo-img{
    width: 10vh;
    height: 10vh;
}

.navbar__logo h1{
    position: relative;
    top: 2vh;
    text-transform: uppercase;
    width: 100%;
}

.navbar__links ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top:5vh;
    gap:5vw;
    right: 20vw;
}

.navbar__links ul li{
    list-style: none;
    text-transform: uppercase;
}

.util-btn{
    background: transparent;
    color:#040404;
    border: none;
    box-shadow: none;
    font-size: 0.95rem;
    font-weight: bold;
    transition: 0.3s;
    text-decoration: none;
}

.util-btn:hover{
    color:white;
    text-decoration: none;
}


.cart{
    position: absolute;
    top: 5vh;
    right: 5vw;
}

.cart svg{
    scale:1.5;
}

.cart-btn{
    background: transparent;
}

.cart-num{
    color:#040404;
    display: block;
    font-size: larger;
}